*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    /* Prevents horizontal scrolling */
    // width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    letter-spacing: 0.25vh;
    line-height: 1.2;
    font-family: "inter", sans-serif;

    @include for-size(tablet, up) {
        line-height: 1.5;
    }
}

// h2,
// h1 {
//     font-family: "abril FatFace" sans-serif;
// }

//-----ACCESSIBILITY-----

//-----ensure all interactive elements show when focused----
a,
button,
input,
textarea,
select {
    &:focus-visible {
        outline: 2px solid #0066cc;
        outline-offset: 2px;
    }
}

//-----respects users' system preferences to reduce animations-----
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

//-----hero font-----
.lg__font {
    font-size: clamp(2.5rem, 8vw, 2rem);



    @include for-size (tablet, up) {
        font-size: clamp(3rem, 7vw, 6rem);
    }

}

//-----heading font-----
.md__font {
    font-size: clamp(2rem, 6vw, 1.5rem);


    @include for-size (tablet, up) {
        font-size: clamp(2.5rem, 8vw, 4rem);
    }
}

//-----para font-----
.sm__font {
    font-size: clamp(1rem, 3vw, 1rem);


    @include for-size(tablet, up) {
        font-size: clamp(1.5rem, 3vw, 1.2rem);
        line-height: 1.5;
    }
}



h1 {
    // font-size: clamp(1rem, 8vh, 8rem);
    font-weight: 400;

    @include for-size(tablet, up) {
        // font-size: clamp(3rem, 10vh, 10rem);
    }

    @include for-size(desktop, up) {
        // font-size: clamp(4rem, 15vh, 10rem);
    }
}

// AMMEND THE BELOW? 
// .hamburger {
//     padding-right: 20px;
//     cursor: pointer;
//     display: none;
// }

// .hamburger .line {
//     display: block;
//     width: 40px;
//     height: 5px;
//     margin-bottom: 10px;
//     background-color: #ff9776;
// }