---
import SectionLayout from "@/layouts/SectionLayout.astro";

const headingAccred = "Accreditations";
---

<SectionLayout
    hasParallax={true}
    variant="color"
    className="accreditations py-20 border-t-[0.5px] border-mp-blue"
    parallaxSpeed={0.3}
    allowOverflow={true}
>
    <section><h2 class="lg__font">{headingAccred}</h2></section>
</SectionLayout>
