---
import SectionLayout from "../../layouts/SectionLayout.astro";
import ScrollArrow from "../../components/ScrollArrow.astro";

interface Props {
    h1Text?: string;
    para?: string;
}

const {
    h1Text = "Unlock the future of events booking",
    para = "Say goodbye to guess work. Learn who’s available, when, & where.",
} = Astro.props;
---

<SectionLayout variant="color" className="Section01" verticalAlignment="center">
    <section class="section-1">
        <div class="parallax-container">
            <div class="overlay"></div>
            <header>
                <h1 class="heading">{h1Text}</h1>
            </header>
        </div>

        <p class="para-content">
            <h2 class="para">{para}</h2>
        </p>
    </section>
</SectionLayout>

<style lang="scss">
    .section-1 {
        // background-color: #797979;
        background-color: #dbc4a4;

        // color: white;
        display: flex;
        flex-direction: column;
        // gap: 2vh;
        min-height: 100vh;
        text-align: left;
        font-weight: 200;
    }

    .parallax-container {
        min-height: 75vh;
        background-attachment: fixed;
        background-image: url("/images/unlock/pexels-shutter-speed-ism-4767348.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        // backdrop-filter: brightness(0.8); //softens background image ( don't need it here)
    }

    .heading {
        position: relative; //ensures text is above the overlay
        z-index: 10; //brings text to foreground
        display: flex;
        text-align: right;
        color: white;
        font-weight: 400;
        max-width: 100%;
        font-size: clamp(2rem, 15vw, 8rem);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Add subtle text shadow for better readability
        padding: 3rem 2rem;
    }

    .para {
        font-size: clamp(1rem, 3.5vh, 8rem);
        font-weight: 200;
        color: black;
        width: 100%;
        text-align: left;
        padding: 2rem;

        // color: #292219;
        // color: #f7f1d1;
        // opacity: 0.9;
        // text-align: center;
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
        // background-color: #f7f1d1;
        // color: transparent;
        // mix-blend-mode: overlay;
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
        // opacity: 0.9;
    }

    // @include for-size(tablet, up) {
    //     .h1-subtitle {
    //         display: flex;
    //         flex-direction: column;
    //         // align-content: flex-start;
    //         gap: 0.5rem;
    //         padding-bottom: 25vh;
    //         padding-left: 4vh;
    //         // padding-right: 4vh;
    //     }
    // }

    // @include for-size(tablet, up) {
    //     .masked-text {
    //         display: flex;

    //         padding: 2, 7vh, 2vh;
    //         font-size: clamp(4rem, 12vw, 25rem);
    //         max-width: 40vh;
    //         font-weight: 400;
    //         /* Masked styling */
    //         background-clip: text;
    //         -webkit-background-clip: text;
    //         -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
    //         background-color: #f7f1d1;
    //         mix-blend-mode: overlay;
    //         color: transparent;
    //         text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    //     }
    // }

    // @include for-size(tablet, up) {
    //     .subtitle {
    //         display: flex;
    //         align-self: flex-end;
    //         min-width: 8vh;
    //         font-weight: 400;
    //         font-size: clamp(1rem, 3vh, 10rem);
    //         color: white;
    //         opacity: 0.8;
    //     }
    // }

    // @include for-size(tablet, up) {
    //     .para {
    //         display: flex;
    //         align-self: baseline;
    //         font-size: clamp(1rem, 5vh, 8rem);
    //         font-weight: 200;
    //         // color: #292219;
    //         max-width: 80vh;
    //         // left: 5rem;
    //         // bottom: 4rem;
    //         color: #f7f1d1;
    //         opacity: 0.8;

    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
    // background-color: black;
    // color: transparent;
    // mix-blend-mode: overlay;
    // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    // opacity: 0.9;
    //     }
    // }
</style>
