---
import SectionLayout from "../../layouts/SectionLayout.astro";

interface Props {
    h1Text?: string;
    subtitle?: string;
    para?: string;
    h2Text?: string;
    para2?: string;
    para3?: string;
}

const {
    h1Text = "Make data driven decisions",
    para2 = `Real-time bookings data curated to your business needs 
  
  Insights at a glance with a personalised analysis report 
  
  Feel the impact our data can have on your revenue risk free
  `,
} = Astro.props;
---

<SectionLayout variant="color" background="" className="Section03">
    <section class="section03__section-3" id="section-03">
        <section
            class="section03__parallax-container"
            role="region"
            aria-label="What's in it for you"
        >
            <section class="section03__overlay"></section>
            <header class="section03__text-container">
                <h1 class="section03__heading">
                    {h1Text}
                </h1>
                <p
                    class="section03__para2-wrapper"
                    style="white-space: pre-line;"
                >
                    {para2}
                </p>
                <a href="/contact/">
                    <nav class="section03__button-container">
                        <button
                            class="button--animated"
                            onclick="window.location.href='/contact/'"
                        >
                            <span class="button__text">start connecting</span>
                        </button>
                    </nav>
                </a>
            </header>
        </section>
    </section>
</SectionLayout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Get the text container that wraps all text
        const textContainer = document.querySelector(
            ".section03__text-container",
        ) as HTMLElement;

        if (textContainer) {
            window.addEventListener("scroll", () => {
                const scrollPosition = window.scrollY;
                const bounceAmount = Math.sin(scrollPosition * 0.01) * 18;
                textContainer.style.transform = `translateY(${bounceAmount}px)`;
            });
        }
    });
</script>

<style lang="scss">
    .section03__section-3 {
        background-color: #344257;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .section03__text-container {
        position: relative;
        z-index: 10;
        // text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 5vh; // Reduced gap for mobile
        will-change: transform;
        transition: transform 0.1s ease-out;
        /* Add flex grow to make container take available space */
        flex-grow: 1;
        justify-content: center; // Center vertically
        // padding: 0 1rem;

        @include for-size(tablet, up) {
            gap: 10vh;
            padding-bottom: 40%;
            max-width: 95%;
        }
    }

    .section03__parallax-container {
        min-height: 100vh;
        background-attachment: fixed;
        background-image: url("/images/connect/pexels-didsss-2127522.jpg");
        background-size: cover;
        background-position: 30%;
        background-attachment: scroll; // use fixed to stop the parallax
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        padding: 4rem 1rem;

        dull background so text shines through &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            pointer-events: none;

            @include for-size(tablet, up) {
                background-attachment: fixed;
            }
        }
    }

    .section03__heading {
        display: block;
        margin: 0 auto;
        // max-width: 50%;
        align-self: flex-start;
        color: #ceb898;
        font-size: clamp(2rem, 10vw, 4rem);
        max-width: 100%;
        text-align: center;
        position: static;

        @include for-size(tablet, up) {
            font-size: clamp(3rem, 10vw, 8rem);
            max-width: 100%;
        }
    }

    .section03__para2-wrapper {
        position: static; //ensures text is above the overlay
        z-index: 10;
        margin: auto;
        text-align: center;
        max-width: 80%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: white;
        font-size: clamp(1rem, 5vw, 1.5rem);

        @include for-size(desktop, up) {
            min-width: 20rem;
        }
    }

    .section03__button {
        position: static; //ensures text is above the overlay
        z-index: 10;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: white;
        border-color: white;
        padding: 1rem 1rem;
    }

    .section03__button-container {
        display: flex;
        justify-content: center;
        // padding-top: 20vh;
    }

    .section03__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        // backdrop-filter: brightness(0.8); //softens background image ( don't need it here)
    }
</style>
