---
import SectionLayout from "../../layouts/SectionLayout.astro";
import ScrollArrow from "../../components/ScrollArrow.astro";

interface Props {
  h1Text?: string;
  subtitle?: string;
  para1?: string;
  para2?: string;
}

const {
  h1Text = "Data designed for venues & suppliers ",
  para1 = `4,000+ annual UK association and corporate events tracked
  
  Insights on the top 500 agencies in the market`,
  subtitle = `Learn past event history, future schedules, and venue status
  `,
  para2 = "",
} = Astro.props;
---

<SectionLayout
  variant="color"
  background=""
  className="Section02"
  heightVariant="tall"
>
  <!-- imageFolder="connect"
  imageName="pexels-didsss-2127522.jpg" -->
  <section class="section-2">
    <p class="subtitle-wrapper" style="white-space: pre-line;">{subtitle}</p>
    <div class="parallax-container">
      <div class="overlay"></div>
      <h1 class="h1-wrapper">
        {h1Text}
      </h1>
      <p class="para-1" style="white-space: pre-line;">{para1}</p>
    </div>
  </section>
</SectionLayout>

<style lang="scss">
  .parallax-container {
    min-height: 150vh;
    background-attachment: fixed;
    background-image: url("/images/hotel/pexels-cottonbro-6474587.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    // align-items: center;
    // justify-content: center;
    position: relative;
    padding: 5rem 2rem;
    flex: 1;
    width: 100%;
    margin: 0;
    box-sizing: border-box; /* Important: makes padding included in width calculation */
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: brightness(
      0.9
    ); //softens background image ( don't need it here)
  }

  .section-2 {
    background-color: #1f2734;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .Section02 {
    box-sizing: border-box; /* Important: makes padding included in width calculation */
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    margin: 0;
    // display: flex;
    // justify-content: center;
  }

  .h1-wrapper {
    position: relative; //ensures text is above the overlay
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(240, 219, 219, 0);
    background-color: white;
    mix-blend-mode: overlay;
    // opacity: 0.9;

    display: flex;
    // color: white;
  }

  .para-1 {
    position: relative; //ensures text is above the overlay
    z-index: 10;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 5vh;
    @include for-size(desktop, up) {
      width: 60%;
      display: flex;
      justify-content: center;
    }

    // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
  }

  .subtitle-wrapper {
    // position: relative; //ensures text is above the overlay
    // z-index: 10;
    // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    align-self: center;
    text-align: center;
    color: #ceb898;
    padding: 3rem 2rem;
  }

  //SECTION 2

  // @include for-size(tablet, up) {
  //   .para2-wrapper {
  //     display: flex;
  //     position: absolute;
  //     top: 108vh;
  //     left: 25vh;
  //     opacity: 0.7;
  //     width: 50vh;
  //     color: white;
  //     margin-top: 2rem;
  //     font-size: clamp(1rem, 15vh, 2.5rem);
  //   }

  //   .h2-wrapper {
  //     display: flex;
  //     position: absolute;
  //     top: 130vh;
  //     left: 85vh;
  //     width: 50vh;
  //     opacity: 0.8;
  //     color: #f7f1d1;
  //     font-size: clamp(2rem, 12vw, 7rem);
  //   }
  // }

  //first half

  // @include for-size(phone, down, portrait) {
  //   .h1-wrapper {
  //     display: flex;
  //     top: 40vh;
  //     left: 8vh;
  //     width: 50vh;
  //     opacity: 0.8;
  //     margin: 1rem auto;
  //     font-size: clamp(4rem, 15vw, 10rem);
  //     color: white;
  //   }

  //   .para-wrapper {
  //     display: flex;
  //     top: 5vh;
  //     left: 55%;
  //     min-width: 25vh;
  //     max-width: 30vh;
  //     opacity: 2;
  //     font-size: clamp(1rem, 10vh, 1.8rem);
  //     /* masked styling */
  //     color: transparent;
  //     background-clip: text;
  //     -webkit-background-clip: text;
  //     -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
  //     background-color: white;
  //     mix-blend-mode: overlay;
  //     opacity: 0.9;

  //     text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
  //   }

  //   .subtitle {
  //     display: flex;
  //     top: 85vh;
  //     left: 10vh;
  //     width: 50vh;
  //     opacity: 1;
  //     margin: 1rem auto;
  //     font-size: clamp(2rem, 8vw, 2rem);
  //     color: #f7f1d1;
  //   }
  // }

  // //second half
  // @include for-size(tablet, down) {
  //   .para2-wrapper {
  //     display: flex;
  //     position: absolute;
  //     top: 105vh;
  //     left: 10vh;
  //     opacity: 0.8;
  //     width: 45vh;
  //     color: white;
  //     margin-top: 2rem;
  //     font-size: clamp(1rem, 15vh, 2rem);
  //   }

  //   .h2-wrapper {
  //     display: flex;
  //     position: absolute;
  //     top: 130vh;
  //     left: 5vh;
  //     opacity: 0.8;
  //     color: #f7f1d1;
  //     font-size: clamp(2rem, 15vw, 9rem);
  //   }
  // }
</style>
