---
import SectionLayout from "../../layouts/SectionLayout.astro";

interface Props {
    maskedText?: string;
    subtitle?: string;
    textStyle?: string;
}

const { maskedText = "The event industry's best kept secret", subtitle = "" } =
    Astro.props;
---

<SectionLayout
    variant="image"
    imageFolder="secret"
    imageName="pexels-cottonbro-6284254.jpg"
    className="Section03"
    contentPosition="right"
    verticalAlignment="center"
>
    <section>
        <h1 class="masked-text">{maskedText}</h1>

        <p class="text-content">
            <h2 class="subtitle">{subtitle}</h2>
        </p>
    </section>
</SectionLayout>

<style>
    .section {
        display: flex;
        font-weight: 100;
        flex-direction: row;
        min-height: 100vh;
    }

    .masked-text {
        position: absolute;
        top: 30vh;
        left: 5vw;
        width: 60vw;
        font-size: clamp(4rem, 10vw, 10rem);
        font-weight: 200;
        color: transparent;
    }

    .masked-text {
        position: absolute;
        top: 30vh;
        left: 5vw;
        width: 60vw;
        font-size: clamp(4rem, 10vw, 10rem);
        font-weight: 200;

        /* Masked styling */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
        background-color: white;
        mix-blend-mode: overlay;
        opacity: 0.9;

        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }

    @include for-size(desktopLg, down) {
        .masked-text {
            position: absolute;
            top: 30vh;
            left: 5vw;
            width: 60vw;
            font-size: clamp(4rem, 10vw, 10rem);
            font-weight: 200;
            color: transparent;

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
            background-color: white;
            mix-blend-mode: overlay;
            opacity: 0.9;
        }
    }

    @include for-size(tablet, down) {
        .masked-text {
            display: flex;
            position: absolute;
            top: 30vh;
            left: 20vw;
            width: 60vw;
            font-size: clamp(4rem, 18vw, 20rem);
            font-weight: 200;
            color: transparent;

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
            background-color: white;
            mix-blend-mode: overlay;
            opacity: 0.9;

            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
        }
    }

    .subtitle {
        font-size: 2rem;
        font-weight: 300;
        color: white;
        margin-bottom: 1rem;
    }
</style>
