---
import Hamburger from "./Hamburger.astro";
---

<a href="#main-content" class="link--skip">Skip to main content</a>

<!----- JS requires the inline styling, on the styles that will change on scroll.  ----->
<header
  class="fixed top-0 left-0 right-0 z-50 duration-500 transition-all ease-in"
>
  <ul class="header mx-auto flex justify-between items-center">
    <li
      class="container__logo"
      role="navigation"
      aria-label="moneypennies logo and home button"
    >
      <a href="/">
        <!-- Single forward slash indicates home page -->
        <img
          src="/images/navImages/moneypennies-logo-no-bg.png"
          class="logo"
          role="navigation"
          aria-label="moneypennies logo and home button"
        />
      </a>
    </li>
    <nav
      class="nav__button-container"
      role="navigation"
      aria-label="Say hello on our contact page"
    >
      <li class="button--animated desktop__nav">
        <a href="/contact/" class="button__text">say hello</a>
        <!-- <button onclick="window.location.href='/contact/'">
        <span class="animated__span">say hello</span>
      </button> -->
      </li>
    </nav>
    <Hamburger />
  </ul>
</header>

<script>
  // Nav styles that change on scroll
  const header = document.querySelector("header");
  // const logo = document.querySelector(".logo");

  const headerStates = {
    scrolled: {
      add: {
        header: ["bg-black/50", "backdrop-blur-sm", "fade-in"],
      },
      remove: {
        header: ["bg-transparent"],
      },
    },
    reset: {
      add: {
        header: ["bg-transparent"],
      },
      remove: {
        header: ["bg-black/50", "backdrop-blur-sm", "fade-in"],
      },
    },
  };

  const handleScroll = () => {
    const headerScrollThreshold = window.innerHeight * 0;
    const hasScrolledPastHeaderThreshold =
      window.scrollY > headerScrollThreshold;

    const currentHeaderState = hasScrolledPastHeaderThreshold
      ? headerStates.scrolled
      : headerStates.reset;

    // Apply header classes
    header?.classList.add(...currentHeaderState.add.header);
    header?.classList.remove(...currentHeaderState.remove.header);
  };

  window.addEventListener("scroll", handleScroll);
</script>

<style lang="scss">
  //-----skip to main content styling-----
  .link--skip {
    position: absolute;
    top: -40px;
    left: 6px;
    background: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    z-index: 1000;

    &:focus {
      top: 6px; // Shows when tabbed to
    }
  }

  //-----NAV ITEM POSITIONING-----
  header {
    padding: 1rem 1rem; //smaller screens

    @include for-size(tablet, up) {
      padding: 1rem 3rem; //larger screens
    }
  }

  //-----BUTTON - LARGER SCREENS-----

  .animated__button::after {
    //  padding-bottom:
  }

  .animated__span {
    font-weight: 900;
  }

  .animated__button .animated__span {
    font-size: clamp(0.5rem, 2vw, 1rem);

    @include for-size(tablet, up) {
      font-size: clamp(1rem, 3vh, 1rem);
    }
  }

  //-----LOGO-----

  .container__logo {
    display: flex;
    // align-items: center;
    margin-left: 1rem; // Use margin instead of padding to control position without affecting size

    @include for-size(tablet, up) {
      margin-left: 2rem;
    }
  }

  .logo {
    height: 7vh;
    width: auto; //maintains aspect ratio
    object-fit: contain; //ensure logo fits within dimensions

    @include for-size(tablet, up) {
      height: 8vh;
    }
  }

  //nav container
  // .items__nav {
  //   // padding: 0;

  //   @include for-size(tablet, up) {
  //     padding: 0.5rem 4rem 0.5rem 4rem;
  //   }
  // }

  //   /* responsive nav styles for contact button/hamburger component */

  //-----HAMBURGER VISIBILITY------

  .desktop__nav {
    display: flex; //hamburger icon is visible in view mobile/tablet
  }

  @include for-size(tablet, down) {
    .desktop__nav {
      display: none !important; //hide desktop nav stylings smaller screens
    }
  }
</style>
