---
import SectionLayout from "../layouts/SectionLayout.astro";

interface Props {
    maskedText?: string; // Required content
    subtitle?: string; // Required content
}

const { maskedText = "Best kept secret", subtitle = "" } = Astro.props;
---

<SectionLayout
    variant="image"
    imageFolder="secret"
    imageName="pexels-cottonbro-6284254.jpg"
    className="Section03"
    contentPosition="right"
    verticalAlignment="center"
>
    <h1 class="masked-text">{maskedText}</h1>

    <div class="text-content">
        <h2 class="title">{subtitle}</h2>
    </div>
</SectionLayout>

<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
    }

    /* .masked-container {
        position: relative;
        margin-bottom: 2rem;
    } */

    .masked-text {
        position: absolute;
        top: 30vh;
        left: 5vw;
        width: 60vw;
        font-size: clamp(4rem, 10vw, 10rem);
        font-weight: 200;

        /*masked styles*/
        background-clip: text;
        opacity: 2;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px rgba(40, 40, 40, 0);
        background-color: white;
        mix-blend-mode: overlay;

        /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1); */
    }

    /* .masked-text {
        font-size: clamp(4rem, 15vw, 12rem);
        font-weight: 500;
        opacity: 50;
        background-clip: text;
        -webkit-background-clip: text;
        background-color: white;
        mix-blend-mode: overlay;
        line-height: 1;
    }

    .masked-text-outline {
        position: absolute;
        opacity: 50;
        inset: 0;
        font-size: clamp(4rem, 15vw, 12rem);
        font-weight: 500;
        color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        line-height: 1;
    } */

    .text-content {
        z-index: 1;
    }

    .title {
        font-size: 3rem;
        font-weight: 300;
        color: white;
        margin-bottom: 1rem;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .content-wrapper {
            padding: 2rem;
        }

        .title {
            font-size: 2rem;
        }
    }
</style>
