---
import SectionLayout from "../layouts/SectionLayout.astro";

interface Props {
  h1Text?: string;
  subtitle?: string;
  para?: string;
}

const {
  h1Text = "Connect with over 4,000 event buyers",
  subtitle = "",
  para = "We provide the latest data to grow your venue's revenue today",
} = Astro.props;
---

<SectionLayout
  variant="image"
  textStyle="masked"
  imageFolder="connect"
  imageName="pexels-didsss-2127522.jpg"
  className="Section01"
>
  <section class="text-layout">
    <h1 class="h1-wrapper h1-container">
      {h1Text}
    </h1>

    <p class="para-wrapper para-container">
      {para}
    </p>
  </section>

  <slot />
</SectionLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 1rem;
  }

  .h1-wrapper {
    /* margin-bottom: 2rem; */
    position: absolute;
    opacity: 0.7;
    color: white;
    top: 55vh;
    left: 5vw;
    width: 70vw;
    font-size: clamp(3rem, 7vw, 7.5rem);
  }

  .para-wrapper {
    position: absolute;
    top: 28vh;
    right: 5vw;
    width: 40vw;
    margin-top: 2rem;
    opacity: 0.7;
    color: white;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  /* Tablet and smaller breakpoint */
  @media (max-width: 1024px) {
    .h1-wrapper {
      left: 10%;
      width: 90%;
      font-size: clamp(3rem, 7vw, 7.5rem);
    }

    .para-wrapper {
      right: 10%;
      width: 70%;
    }
  }

  /* Mobile breakpoint */
  @media (max-width: 768px) {
    .h1-wrapper {
      font-weight: 200;
      position: static;
      width: 90%;
      margin: 1rem auto;
      text-align: center;
      font-size: clamp(2.5rem, 10vw, 4rem);
    }

    .para-wrapper {
      position: static;
      width: 90%;
      margin: 1rem auto;
      text-align: center;
      font-size: clamp(1rem, 5vw, 2rem);
    }
  }
</style>
