---
// layouts/BaseLayout.astro
import "../styles/tailwind.css";
import "../styles/global.scss";
import Navigation from "../components/Navigation/Nav-bar.astro";
// import Footer from "@/components/Footer/Footer.astro";

interface Props {
    title: string;
    description?: string;
}

const { title, description = "Default description" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />

        <!-- Playfair Display, Zilla Slab, Abril FatFace, Fugaz One, Grand Hotel, Inter, Manrope -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fugaz+One&family=Grand+Hotel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body class="min-h-screen flex">
        <main class="flex-grow w-full">
            <Navigation />
            <slot />
        </main>
    </body>
</html>
